<mat-form-field>
  <mat-label>Select an option</mat-label>
  <mat-select [formControl]="selected" multiple>
    <mat-option>All</mat-option>
    @for (activity of activities; track activity.id) {
      <mat-option [value]="activity.type">{{ activity.type }}</mat-option>
    }
  </mat-select>
</mat-form-field>

@for (activity of activities; track activity.id) {
  <div>{{ activity.type }}</div>
  <p>{{ activity.name }} - {{ activity.distance | distance }} - {{ activity.elapsed_time | duration}}</p>
}
